.banner {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 90px 0 190px;
  @media @before-w960 {
    padding: 50px 0 90px;
  }
  @media @before-w768 {
    padding: 15px 0 70px;
  }
  &__wrap {
    position: relative;
    max-width: 860px;
    margin: 0 auto;
    z-index: 2;
    @media @before-w960 {
      max-width: 600px;
      padding: 0 20px;
    }
  }
  &__caption {
    margin: 0;
    font-family: 'Galien';
    font-size: 64px;
    line-height: 1.2;
    color: #1F3F68;
    cursor: default;
    @media @before-w768 {
      font-size: 32px;
    }
  }
  &__desc {
    max-width: 425px;
    margin: 32px 0 70px;
    color: #1F3F68;
    @media @before-w768 {
      margin: 20px 0 40px;
    }
  }
  &__btn {
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    &:hover,
    &:active {
      box-shadow: 0 0 20px rgba(90, 152, 208, 1);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0 0 1em #FFFFFF;
    }
  }
  &__img {
    position: absolute;
    max-width: 647px;
    right: 5%;
    bottom: 46px;
    z-index: 1;
    @media @before-w1440 {
      max-width: 547px;
    }
    @media @before-w1170 {
      max-width: 347px;
      bottom: 146px;
    }
    @media @before-w960 {
      display: none;
    }
  }
  &__gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
    opacity: 0.2;
    z-index: 0;
  }
}