.btn {
  box-sizing: border-box;
  display: inline-block;
  width: 220px;
  height: 56px;
  outline: none;
  background: #5A98D0;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: 0.3s;
}