.caption {
  font-family: 'Gilroy';
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  cursor: default;
  @media @before-w1170 {
    font-size: 28px;
  }
  @media @before-w768 {
   font-size: 24px;
  }
}
