.client {
  width: 100%;
  background: #5A98D0;
  border-radius: 200px 0 0 0;
  @media @before-w960 {
    border-radius: 0;
  }
  &__container {
    box-sizing: border-box;
    max-width: 860px;
    margin: 0 auto;
    padding: 96px 0 125px;
    @media @before-w1170 {
      padding: 96px 20px;
    }
    @media @before-w960 {
      padding: 50px 20px;
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media @before-w1170 {
      max-width: 720px;
      justify-content: flex-start;
      margin: 0 auto;
    }
    @media @before-w768 {
      flex-direction: column;
    }
  }
  &__caption {
    margin: 0;
    @media @before-w1170 {
      margin-right: 50px;
    }
  }
  &__desc {
    max-width: 540px;
    margin: 0;
    color: #FFFFFF;
    @media @before-w1170 {
      max-width: 440px;
    }
    @media @before-w768 {
      margin-top: 20px;
    }
  }
  &__list-wrap {
    margin-top: 110px;
    @media @before-w960 {
      margin-top: 50px;
    }
    @media @before-w768 {
      width: 100%;
      overflow-x: auto;
    }
  }
  &__list {
    box-sizing: border-box;
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    @media @before-w768 {
      width: 720px;
    }
  }
  &__cell {
    box-sizing: border-box;
    width: 213px;
    height: 128px;
    padding: 10px;
    border: 1px solid #FFFFFF;
    text-align: center;
    transition: 0.3s;
    &:last-child {
      padding: 0;
    }
    &:hover,
    &:active {
      background: rgba(31, 63, 104, 0.2);
    }
  }
  &__link {
    text-decoration: none;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 46px;
    color: #F2F2F2;
  }
  &__logo {
    max-width: 180px;
    max-height: 88px;
    object-fit: cover;
  }
  &__btn {
    width: 100%;
    height: 100%;
    border-radius: 0;
    font-size: 20px;
    background: rgba(31, 63, 104, 0.2);
    &:hover,
    &:active {
      background: rgba(31, 63, 104, 0.6);
    }
  }
}