.desc {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.6);
  cursor: default;
  @media @before-w768 {
    max-width: none;
  }
}