.interest {
  box-sizing: border-box;
  width: 100%;
  padding-right: 96px;
  background: #5A98D0;
  @media @before-w960 {
    padding-right: 0;
  }
  &__radius {
    box-sizing: border-box;
    width: 100%;
    padding: 96px 0 96px 96px;
    background: #316099;
    border-radius: 0 200px 0 0;
    @media @before-w960 {
      padding: 50px 20px;
      border-radius: 0;
    }
  }
  &__container {
    box-sizing: border-box;
    max-width: 860px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @media @before-w1170 {
      max-width: 720px;
      padding-right: 60px;
    }
    @media @before-w960 {
      padding: 0;
    }
    @media @before-w768 {
      flex-direction: column;
      justify-items: flex-start;
      align-items: flex-start;
    }
  }
  &__caption {
    margin: 0;
  }
  &__desc {
    max-width: 460px;
    margin: 32px 0 0 0;
    color: #FFFFFF;
    @media @before-w1170 {
      max-width: 360px;
    }
    @media @before-w768 {
      margin: 20px 0 30px;
    }
  }
  &__btn {
    &:hover,
    &:active {
      text-shadow: 1px 1px 2px #000000, 0 0 1em #FFFFFF;
      box-shadow: 0 0 10px #FFFFFF, 0 0 15px #FFFFFF;
    }
  }
}