.page-footer {
  box-sizing: border-box;
  padding-right: 96px;
  background: #5A98D0;
  @media @before-w960 {
    padding-right: 0;
    background: #316099;
  }
  &__container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 96px 0 64px 96px;
    background: #316099;
    &:after {
      content: '';
      position: absolute;
      width: 84%;
      height: 1px;
      top: 0;
      left: 0;
      background: #FFFFFF;
      opacity: 0.4;
    }
    @media @before-w960 {
      padding: 96px 20px;
      &:after {
        width: 100%;
      }
    }
    @media @before-w768 {
      padding: 50px 20px 70px;
    }
  }
  &__wrap {
    box-sizing: border-box;
    max-width: 860px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @media @before-w1170 {
      max-width: 720px;
      padding-right: 60px;
    }
    @media @before-w960 {
      padding: 0;
    }
    @media @before-w768 {
      max-width: 280px;
      flex-direction: column;
    }
  }
  &__contacts {
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
  &__logo {
    max-width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    font-family: 'Gilroy';
    font-size: 28px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s;
    &:hover,
    &:active {
      text-shadow: 1px 1px 2px #000000, 0 0 1em #EF9A9A;
      color: white;
    }
    @media @before-w768 {
      margin-bottom: 20px;
    }
  }
  &__logo-img {
    color: #98C3E8;
  }
  &__desc,
  &__phone,
  &__mail,
  &__copyright {
    display: flex;
    margin: 12px 0;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    @media @before-w768 {
      margin: 8px 0;
    }
  }
  &__phone,
  &__mail {
    transition: 0.3s;
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }
  &__copyright {
    margin-top: 52px;
    opacity: 0.4;
    cursor: default;
    @media @before-w768 {
      position: absolute;
      margin: 0;
      bottom: 20px;
    }
  }
  &__abbr {
    padding-right: 15px;
    font-weight: 500;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__caption {
    margin: 0 0 32px 0;
    font-size: 20px;
    @media @before-w1170 {
      font-size: 20px;
    }
    @media @before-w768 {
      margin: 30px 0 15px 0;
      text-align: center;
      font-size: 18px;
    }
  }
  &__link {
    margin: 8px 0;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover,
    &:active {
      opacity: 0.6;
    }
    @media @before-w768 {
      margin: 5px 0;
      text-align: center;
      font-size: 14px;
    }
  }
}