.page-header {
  box-sizing: border-box;
  max-width: 1190px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 56px 20px 25px;
  z-index: 5;
  @media @before-w768 {
    padding: 25px 20px;
  }
  &__logo-img {
    color: #316099;
  }
  &__burger-inner {
    width: 24px;
    height: 3px;
    display: block;
    border-radius: 2px;
    background: #356EAD;
    transition: 0.4s;
  }
  &__burger {
    position: relative;
    width: 24px;
    height: 19px;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 3px;
      display: block;
      border-radius: 2px;
      background: #356EAD;
      transition: 0.4s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    &--active {
      .page-header__burger-inner {
        display: none;
      }
      &::before {
        width: 26px;
        transform: rotate(45deg) translate(3.5px, 8px);
      }
      &::after {
        width: 26px;
        transform: rotate(-45deg) translate(3px,-8px);
      }
    }
  }
  
}