.support {
  box-sizing: border-box;
  max-width: 860px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 192px 0 212px;
  @media @before-w960 {
    max-width: 720px;
    padding: 30px 20px
  }
  @media @before-w768 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__caption {
    color: #316099;
  }
  &__block {
    box-sizing: border-box;
    max-width: 380px;
    padding: 48px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    &:last-child {
      margin-top: 100px;
    }
    @media @before-w960 {
      max-width: 320px;
    }
    @media @before-w768 {
      margin: 20px auto;
      padding: 20px;
      &:last-child {
        margin-top: 20px;
      }
    }
  }
  &__img {
    display: block;
    margin: 0 auto 52px;
  }
  &__sub-caption {
    margin: 0;
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #1F3F68;
  }
  &__desc {
    margin: 16px 0 32px;
    color: rgba(31, 63, 104, 0.6);
  }
  &__btn {
    position: relative;
    width: auto;
    height: auto;
    padding: 0 42px 0 0;
    background: transparent;
    border-radius: 0;
    font-size: 14px;
    overflow: visible;
    color: #5A98D0;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      background: #5A98D0;
      right: 0;
    }
    &::before {
      top: 50%;
    }
    &::after {
      width: 10px;
      height: 10px;
      background: transparent;
      border-bottom: 2px solid #5A98D0;
      border-right: 2px solid #5A98D0;
      transform: rotate(-45deg);
      bottom: 1px;
    }
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }
}