<div class="shadow" id="js-shadow"></div>
<header class="page-header">
    <a class="page-header__logo" href="#">
        <svg class="page-header__logo-img" width="48" height="48">
            <use xlink:href="assets/icons/symbols.svg#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </a>
    <div class="page-header__burger" id="js-burger">
        <span class="page-header__burger-inner"></span>
    </div>
</header>