<footer class="page-footer">

    <div class="page-footer__container">

        <div class="page-footer__wrap">
            <div class="page-footer__contacts">
                <a class="page-footer__logo" href="#">
                    <svg class="page-footer__logo-img" width="48" height="48">
                        <use xlink:href="assets/icons/symbols.svg#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    Afrianska
                </a>

                <p class="page-footer__desc  desc">
                    <span class="page-footer__abbr">A.</span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>

                <a class="page-footer__phone" href="tel:+62-812-7313-4321">
                    <span class="page-footer__abbr">T.</span>
                    +62-812-7313-4321
                </a>

                <a class="page-footer__mail" href="mailto:hello.afrian@gmail.com">
                    <span class="page-footer__abbr">E.</span>
                    hello.afrian@gmail.com
                </a>

                <p class="page-footer__copyright">2019 © Afrianska. All rights reserved.</p>
            </div>

            <div class="page-footer__list">
                <h3 class="page-footer__caption  caption">About US</h3>

                <a class="page-footer__link" href="#">About</a>
                <a class="page-footer__link" href="#">What We Do</a>
                <a class="page-footer__link" href="#">Project</a>
                <a class="page-footer__link" href="#">How It Work With Us</a>
            </div>

            <div class="page-footer__list">
                <h3 class="page-footer__caption  caption">Follow US</h3>

                <a class="page-footer__link" href="#">Instagram</a>
                <a class="page-footer__link" href="#">Facebook</a>
                <a class="page-footer__link" href="#">LinkedIn</a>
                <a class="page-footer__link" href="#">Youtube</a>
            </div>
        </div>
    </div>


</footer>